<!DOCTYPE html>
<html>
    <header>
        <style>
        body{
            background-color: beige;
        }
        h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size:67px;
        text-align: center;
        }
        </style>
    </header>
    <body>
        <div align="center">
            <h1> Welcome To The Book Store</h1>
            <p>To View your collection <a href="{{url_for('login')}}">Login</a> here</p>


        </div>
    </body>
</html>